body {
    background: #EEE;
    font-family: 'Segoe UI', Arial, sans-serif;
}
input:focus {
    outline: 0 !important;
}
.main {
    width: 500px;
    min-height: 450px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 25px;
    box-shadow: 0 0 20px #999;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#display {
    font-family: Consolas, 'Segoe UI', Arial, sans-serif;
    font-size: 36px;
    padding: 10px 15px;
    width: 150px;
    text-align: center;
    color: #222;
    background: #bccd95;
    background-clip: padding-box;
    border: 1px solid #666;
    background-image: linear-gradient(to bottom, #bccd95, #e0f5b1);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.12);
    margin-bottom: 20px;
}
#feedback {
    background: #EEE;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    width: 500px;
}
.limit {
    font-size: 20px;
    font-weight: bold;
    min-width: 40px;
    margin-top: -4px;
}
.instructions {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}
.numpad {
    margin-top: 15px;
    margin-bottom: 45px;
}
.numpad .row {
    margin-bottom: 15px;
}
.numpad button {
    width: 50px;
    font-family: Consolas, 'Segoe UI', sans-serif;
    padding: 11px;
    margin-right: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    background: #313131;
    background-clip: padding-box !important; 
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #313131, #1c1c1c);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.08);
    outline: none;
}
.numpad button:hover {
    background: #282828;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.05);
}
.numpad button:last-child {
    margin-right: 0;
}
.mr10 {
    margin-right: 10px;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.go {
    font-size: 20px!important;
    color: green;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.go-btn {
    background: #F4B133!important;
    background-image: linear-gradient(to bottom, #F4B133, #D38C0D)!important;
}
.cancel-btn {
    background: #FC546C!important;
    background-image: linear-gradient(to bottom, #FC546C, #FF304F)!important;
}
.btn-green {
    color: #ffffff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.btn-green:hover, .btn-green:focus {
    color: #ffffff;
    background-color: #128f76;
    border-color: #11866f;
}
.btn-red {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.btn-red:hover, .btn-red:focus {
    color: #ffffff;
    background-color: #d62c1a;
    border-color: #cd2a19;
}
.btn-blue {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3366cc;
}
.btn-blue:hover, .btn-blue:focus {
    color: #ffffff;
    background-color: #217dbb;
    border-color: #333399;
}
.btn-gray {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}
.fs20 {
    font-size: 20px!important;
}
.fs22 {
    font-size: 22px!important;
}
.hide {
    display: none;
}
.cursor {
    cursor: pointer;
}
.stats {
    margin: 0 auto;
    width: 400px;
    overflow: hidden;
    margin-top: 40px;
    color: #666;
    font-size: 17px;
}
.stat {
    float: left;
    width: 33%;
}
.value {
    color: #222;
    font-weight: bold;
    margin-left: 10px;
    min-width: 40px;
    margin-top: -3px;
}
.about {
    text-align: center;
    color: #BBB;
    margin-top: 20px;
}
.about a {
    color: #AAA;
    text-decoration: none;
    transition: 0.3s;
}
.about a:hover {
    color: #666;
}
